<h2 class="page-header">Edit Author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
  <%- include("_form_fields") %>
  <div class="btn-row">
    <a href="/authors">Cancel</a>
    <button type="submit">Update</button>
  </div>
  <%- include("../partials/delete", {url : `/authors/${author.id}`}) %>
</form>
